/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/backups/
/storage/logs/
/storage/json/
/storage/media-library/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/docker/volumes/*
docker-compose.yml
/tests/stubs
.php-cs-fixer.cache
.env copy
