name: Run Tests

on: [push, pull_request, workflow_call, workflow_dispatch]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:16-3.4
        env:
          POSTGRES_PASSWORD: osm2cai2
          POSTGRES_DB: osm2cai2
          POSTGRES_USER: osm2cai2
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: "8.4"
      - name: Install GDAL dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gdal-bin
      - name: Verify GDAL installation
        run: |
          ogr2ogr --version
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Configure wm-package submodule
        run: |
          git config --global --add safe.directory '*'
          cd wm-package
          git fetch --all
          git checkout develop
      - name: Copy .env
        run: cp .env-example .env
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        run: php artisan key:generate
      - name: Add hosts to /etc/hosts
        run: sudo echo "127.0.0.1 db" | sudo tee -a /etc/hosts
      - name: Migrate
        run: php artisan migrate
        env:
          PGPASSWORD: osm2cai2
      - name: Clear the config cache
        run: php artisan config:clear
      - name: Optimize
        run: php artisan optimize
      - name: Prepare Log File
        run: mkdir -p storage/logs && touch storage/logs/test.log
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install NPM Packages
        run: npm install
      - name: Laravel Tests
        run: php artisan test --log-events-verbose-text storage/logs/test.log
      - name: Run Test Database Seeder
        run: php artisan db:seed --class=E2ETestDbSeeder
      - name: Run E2E Tests
        uses: cypress-io/github-action@v5
        env:
          CYPRESS_adminEmail: ${{ secrets.E2E_ADMIN_EMAIL }}
          CYPRESS_adminPassword: ${{ secrets.E2E_ADMIN_PASSWORD }}
          CYPRESS_referentEmail: ${{ secrets.E2E_REFERENTE_EMAIL }}
          CYPRESS_referentPassword: ${{ secrets.E2E_REFERENTE_PASSWORD }}
        with:
          browser: chrome
          start: php artisan serve --host 0.0.0.0 --port 8008
          wait-on: http://localhost:8008
          wait-on-timeout: 280
          headed: false
      - name: Upload Cypress screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      - name: Upload Test Results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: storage/logs/test.log
